body {
    background-color: #eee;
}

h1 {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.myPhoto {
    text-align: center;
}

img {
    width: 140px;
    height: 140px;
}

.main {
    background-color: #fff;
    width: 500px;
    padding: 10px 10px 50px 10px;
    box-shadow: 0 0 5px 1px #424242;
    margin: auto;    
}

.student {
    margin-left: 50px;
    padding: 5px;
}

.contacts, .feedback, .info {
    border-top: 1px solid darkgray;
    margin: 0 40px;
    padding: 10px 0 10px 15px;
}

.phone, .facebook {
    line-height: 0.2;
    padding-bottom: 15px;
}

li {
    margin-left: -18px;
    line-height: 1.5;
}

ul {
    margin-top: 30px;
}
    
p {
    line-height: 6px;
}